<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @trainer.pokemons.any? %>
  <h4>Pokemons:</h4>
    <ul>
      <% @trainer.pokemons.each do |pokemon| %>
        <h5><%= pokemon.name %>:</h5> <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>
          <h6>Level: <%= pokemon.level %></h6>
          <h6>Health: <%= pokemon.health %></h6>
      <% end %>
    </ul>
<% else %>
  <h4> User has no pokemon! </h4>
<% end %>

<% if @trainer[:id] == current_trainer[:id] %>
  <%= button_to "Create New Pokemon!", pokemons_new_path, :class => "button medium", :method => :get %>
<% end %>
